@media(max-width:450px){
  

    header{
        width: 100%;
        height: 60px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        position: relative;
    }

    .brand{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap:10px;
    }

    .brand img{
        width: 20px;
    }

    .brand b{
        color:green;
    }

    nav{
        position: absolute;
        left:-250px;
        top:60px;
        width: 250px;
        height: calc(100vh - 100px);
        background-color: green;
        display: flex;
        flex-direction: column;
        gap:40px;
        padding: 40px 30px;
        transition: 1s;
        z-index: 100;
    }

    nav a{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap:30px;
        color:white;
        opacity: 0.6;
        transition: 0.5s;
    }

    nav a:hover{
        opacity: 1;
    }

    nav a img{
        width: 20px;
    }

    nav div{
        width: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap:10px;
        margin-top: 30px;
    }

    nav div b{
        opacity: 0.6;
        color:white;
    }

    .theme-btn{
        width:34px;
        height: 17px;
        border-radius: 17px;
        position: relative;
        border: 1px solid white;
        cursor: pointer;
    }

    .theme-ball{
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        left:0;
        transition: 0.5s;
    }

    

    .menu-btn{
        display: flex;
        width: 30px;
        height: 30px;
        background-color: transparent;
        background-image: url("./images/menu.png");
        background-size: cover;
        background-position: center center;
        cursor: pointer;
        border: none;
    }

    main{
        width: 100%;
        height: calc(100vh - 120px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
       
    }

    .post-section{
        width: 100%;
        height: 180px;
        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url("./images/banner.jpg");
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap:10px;
        padding: 30px;
        position: relative;
    
    }

    .post-section h1{
        font-size: 25px;
        color:white;
        margin-top: 10px;
        font-weight: 200;

        
    }

    .post-section p{
        color:white;
        font-size: 12px;
        font-weight: 100;
        font-style: italic;
    }

    .post-btn{
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        background-image: url("./images/add_post.png");
        background-size: cover;
        background-position: center center;
        cursor: pointer;
        position: absolute;
        right: 20px;
        bottom: 20px;
    }


    .post-form{
        width: 90%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;
        padding:40px 20px 10px 20px;
        background-color: white;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
        z-index: 10;
    }

    .close-form{
        width: 20px;
        height: 20px;
        padding: 5px;
        border: 1px solid green;
        border-radius: 50%;
        position: absolute;
        top:10px;
        right: 20px;
        transition: 0.5s;
    }

    .close-form:hover{
        transform: scale(1.3);
    }

    .post-form input,  textarea{
        width: 100%;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 10px;
        font-size: 17px;
        outline: none;
    }

         .post-form input:focus,
         textarea:focus {
            border-color: green;
         }

        .post-image-box {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            gap:25px;
            padding: 20px;
        }

        .post-image-box input{
            display: none;
        }

        .image-preview{
            width: 200px;
            height: 150px;
            object-fit: contain;
        }

        .post-image-box span{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        .post-image-box span label{
            width: 50%;
            padding: 7px 0px;
            background-color: green;
            color:white;
            font-size: 17px;
            text-align: center;
            border-radius: 10px;
            transition: 0.5s;
        }

        .post-image-box span label:hover{
            background-color: darkorange;
        }


.submit-post-btn{
    width: fit-content;
    background-color: transparent;
    display: flex;
    align-self: flex-end;
    color:green;
    font-size: 30px;
    border: none;

   

}


.all-posts{
    width: 100%;
    height: calc(100% - 180px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:50px;
    padding: 30px 20px 0 20px;
    background-color: white;

    
}

.all-posts h2{
  height: 30px;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-weight: 200;
  font-size: 30px;
  
}

.posts-container{
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
    overflow-y: auto;  
    padding: 10px;
    gap:40px;

}

.post-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    gap:10px;
    border-radius: 10px;
    padding: 30px 30px;
}

.post-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.post-card p{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:10px;
}

.post-card p b{
    margin-top: 20px;
    font-size: 20px;
    text-align: justify;
    font-weight: 500;
   
}
.post-card p > span{
    width: 100%;
    text-align: justify;
}

.post-card p button{
    width: fit-content;
    background-color: transparent;
    color:green;
    font-weight: 400;
    font-size: 15px;
    font-style: italic;
    border: none;
    cursor: pointer;
}

.username-date{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.username-date .date{
    color:darkorange;
}

.username-date .username{
    color:black;
    font-weight: bold;
}
.social-widgets{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.social-widgets span{
    display: flex;
    width: fit-content;
    height: 20px;
    gap:10px;
    align-items: center;
    justify-content: flex-start;
  
    
}

.social-widgets span img{
    width: 12px;
}
.social-widgets span small{
    font-size: 10px;
}

footer{

    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:30px;
    padding: 20px 0;
    background-color: whitesmoke;
}

footer .social{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
   

}

.social a img{
    width: 18px;
    cursor: pointer;
    transition: 0.5s;
}

.social a:hover img{
    transform: scale(1.5);
    filter: grayscale(1);
}

footer p{
    width: 100%;
    background-color: green;
    color:white;
    text-align: center;
    font-size: 9px;
    padding: 10px 20px;
}

/* utility class */

.close-menu{
    background-image: url("./images/close.png");
}

.show-nav{
    left:0;
}


}

.theme-slider{
    left : 17px;
}

.dark-theme-body{
    background-color: rgb(32, 32, 32);
    color:white;
}

.dark-theme-header {
    background-color: black;
    color: white;
}

.dark-theme-main {
    background-color: rgb(29, 29, 29);
    color: white;
}

.dark-theme-section {
    background-color: rgb(26, 25, 25);
    color: white;
}

.dark-theme-div{
    background-color: black ;
    color: white;
}

.light-theme-div {
    background-color: white;
    color:grey;
}

.dark-theme-form {
    background-color: rgb(59, 59, 59);
    color: white;
}

.dark-theme-footer {
    background-color: rgb(32, 32, 32);
    color: white;
}

